# Secret template - stores sensitive connection string
# Copy this file to secret.yaml and replace <BASE64_ENCODED_CONNECTION_STRING>
# Encode: echo -n "your-connection-string" | base64
# Don't commit secret.yaml to git!

apiVersion: v1
kind: Secret
metadata:
  name: azure-secrets
  namespace: default
type: Opaque
data:
  eventhub-connection: <BASE64_ENCODED_CONNECTION_STRING>
